@media (min-width: 768px) { 

		/* Navigation
		================================ */
	.main-logo img {
		width: 70px;
	}
	.projects li {
		width: 32%;
	}
	.about {
		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		li:first-child {
			width: 32%;
		}
		li:last-child {
			width: 62%;
		}
	}
}
@media (min-width: 1000px) { 

		/* Navigation
		================================ */
	.projects li {
		width: 23%;
	}
	.about {
		li:first-child {
			width: 22%;
		}
		li:last-child {
			width: 74%;
		}
	}
}