* {
	@include no-padding;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/******* Project Navigation **********/

.project-main-nav, .nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	a {
		padding: 5px 0;
		border: 2px solid $pink;
		border-radius: 5px;
	}
	a:hover {
		color: white;
		background-color: $pink;
	}
}

.project-main-nav {
	margin-top: .5em;
}

.home {
	width: 125px;
	margin-left: 0;
	margin-right: auto;
	align-self: center;
}

.nav {
	flex-direction: row;
	justify-content: space-between;
	align-self: center;
	li {
		margin-left: 1em;
	}
	&:last-child {
		margin-right: 0;
	}
	a {
		padding: 5px 15px;
	}
}

.show-demo {
	margin: 2em 0;
	width: 100%;
	padding: 5px 0;
	border: 2px solid $pink;
	border-radius: 5px;
	&:hover {
		color: white;
		background-color: $pink;
	}
}


