* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	width: 100%;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}
a,
a:visited,
a:hover {
	color: #ff0066;
	text-decoration: none;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 16px;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
	color: #ff0066;
}
h3 {
	font-size: 1.5em;
}
.section {
	padding-top: 95px;
}


header {
		padding: 180px 0px;
		background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/headerbackground.jpg) no-repeat center center;
		background-size: cover;
	nav {
		position: fixed;
		top: 0;
		width: 100%;
		background: white;
		opacity: .9;
	}
}

.main-logo {
		display: block;
		margin: 0;
	img {
		margin-top: 5px;
		width: 50px;
	}
}
.main-nav {
		margin: 0;
		padding: 0;
	li {
		display: inline-block;
		margin: 8px;
	}
	h3 {
		font-size: 1.125em;
		margin: 0;
	}
	h3 {
		margin-top: 0;
	}
}

.main-head {

	h1{
		margin-bottom: 0px;
	}
	h3 {
		font-size: 1.125em;
		color: #FF0066;
		margin-bottom: 2px;
	}
	h4 {
		font-size: 1.5em;
		color: #ff0066;
		margin: 0;
		

	}
}
.social-icons {
		margin: 0;
		text-align: center;
		padding: 0;
	li {
		display: inline-block;
		padding: 0 10px;
	}
	
}

.about {
	p {
		text-align: left;
	}
}
.about img,
.projects img {
	border-radius: 20px;
}
.projects li{
	padding-bottom: 10px;
}





@media (min-width: 768px) { 

		/* Navigation
		================================ */
		.main-header {
		position: fixed;
		top: 0;
		width: 100%;
		height: 55px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
		background: white;
	}
	.main-logo {
		display: inline-block;
		float: left;
		margin-top: 0;
		margin-bottom: 0;
	}
	.main-logo a, 
	.main-nav a {
		text-align: center;
	}
	.main-nav {
			float: right;
			display: inline-block;
			text-align: right;
		li {
			text-align: right;
			margin-left: 10px;
			display: inline-block;
		}
	}

	.main-content {
			margin-top: 60px;
		p {
			text-align: left;
		}
	}
	
}
