* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	width: 100%;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}
a,
a:visited,
a:hover {
	color: #ff0066;
	text-decoration: none;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 16px;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
	color: #ff0066;
}
h3 {
	font-size: 1.5em;
}
.section {
	padding-top: 95px;
}


.main-header {
		padding: 180px 0px;
		background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/headerbackground.jpg) no-repeat center center;
		background-size: cover;
	nav {
		position: fixed;
		top: 0;
		width: 100%;
		background: white;
		opacity: .9;
	}
}

.main-logo {
		display: block;
		margin: 0;
	img {
		margin-top: 5px;
		width: 50px;
	}
}
.main-logo img:hover {
	background: white;
	border-radius: 50px;
	opacity: .5;
	z-index: 100;
}
.main-nav {
		margin: 0;
		padding: 0;
	ul {
		height: 30px;
		padding-top: 0;
	}
	li {
		display: inline-block;
		margin: 0 8px;
	}
	h3 {
		font-size: 1.125em;
		margin: 0;
	}
	h3 {
		margin-top: 0;
	}
}
.main-nav h3:hover {
	background: white;
	opacity: .5;
	z-index: 100;
}
.head {

	h1{
		margin-bottom: 0px;
	}
	h3 {
		font-size: 1.125em;
		color: #FF0066;
		margin-bottom: 2px;
	}
	h4 {
		font-size: 1.5em;
		color: #ff0066;
		margin: 0;
		

	}
}
.social-icons {
		margin: 0;
		text-align: center;
		padding: 0;
	li {
		display: inline-block;
		padding: 0 10px;
	}
	
}
.social-icons a:hover {
	background: white;
	border-radius: 30px;
	opacity: .5;
	z-index: 100;
}

.about {
	p {
		text-align: left;
	}
	img {
		border-radius: 20px;
	}
}

.projects {
	img {
		border-radius: 20px;
	}
	li {
		padding-bottom: 10px;
	}
}
.projects a:hover {
	background: white;
	opacity: .5;
	z-index: 100;
}
.contact {
	ul {
		margin: 0;
		text-align: center;
		padding: 0;
	}
	li {
		display: inline-block;
		padding: 0 10px;
	}
	img {
		width: 70px;
	}
	p {
		margin-top: 5px;
	}
	
}
.contact a:hover {
	background: white;
	opacity: .5;
	z-index: 100;
}
