/*********************************
			Main Body 
*********************************/
* {
	@include no-padding;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/*background-color: rgba(255,0,0,.1);*/
}
body {
	text-align: center;
	width: 100%;
	li {
		list-style: none;
	}
	a,
	a:visited {
		color: $pink;
		text-decoration: none;
	}
}
body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 16px;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
	color: $pink;
	padding-top: 10px;
	padding-bottom: 10px;
}
h3 {
	font-size: 1.5em;
}

.grid-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section {
	padding-top: 60px;
}
/*********************************
			Main Header
*********************************/

.main-logo {
	padding: 5px 0;
	img {
		padding-top: 5px;
		width: 50px;
	}
	& img:hover {
		@include hover;
		border-radius: 50px;
	}
}


/*********************************
			Main Nav
*********************************/

.main-nav {
  		display: flex;
  		justify-content: space-around;
  		list-style: none;
  		align-items: flex-end;
  	li {
  		padding-bottom: 5px;
  	}
	h3 {
		font-size: 1.125em;
	}
	& li:hover {
		padding-bottom: 3px;
		border-bottom: 2px solid $pink;
	}
	& li:nth-child(3n):hover {
		padding-bottom: 5px;
		border-bottom: none;
	}
}


/*********************************
		Heading and Social
*********************************/

.head {
		width: 100%;
		height: 500px;
		background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/header-bg-sm.jpg) no-repeat center center;
		background-size: cover;	
	h1{
		margin-bottom: 0px;
	}
	h3 {
		font-size: 1.125em;
		color: #FF0066;
		margin-bottom: 2px;
	}
	h4 {
		font-size: 1.5em;
		color: $pink;
		padding-bottom: 10px;
	}
}
.social-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 275px;
	img {
		width: 40px;
	}
	img:hover {
		@include hover;
		border-radius: 30px;
	}
}

/*********************************
			About
*********************************/

.about {
	p {
		text-align: left;
		text-indent: 50px;
	}
	li:first-child {
		width: 50%;
	}
	li:last-child {
		width: 100%;
	}
	img {
		border-radius: 20px;
	}
}

/*********************************
			Projects
*********************************/

.projects {
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	li {
		width: 48%;
	}
	img {
		border-radius: 20px;
	}
	img:hover {
		@include hover;
		border-radius: 20px;
	}
}


/*********************************
			Contact
*********************************/

.contact {
	padding-bottom: 60px;
	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	img {
		width: 40px;
	}
	p {
		margin-top: 5px;
	}
}
